 *{ /*Universal declarations*/
        padding: 0;
        margin: 0;
        font-family: 'Hanalei Fill', cursive; 
        font-family: 'Space Mono', monospace;
    }
:root {
       --brown: #44281d (68,40,29);
       --salmonpink: #e4a788 (228,167,136);
       --yellow: #f0e14a (240,225,74);
       --green: #97ce4c (151,206,76);
       --pink: #e89ac7 (232,154,199);
    }

.blue-colours { /* blueish colours that we can use: "https://www.color-hex.com/color-palette/10375" */  
    color: #318bbe	rgb(49, 139, 190);
    color: #92c5dd	rgb(146, 197, 221);
    color: #0f3c80	rgb(15, 60, 128);
    color: #598fac	rgb(89, 143, 172);
    color: #80acbb	rgb(128, 172, 187);
    color: #232137	rgb(35, 33, 55);
}

.hidden{ 
    visibility: hidden;
}

#render-page { 
    justify-content: center;
}

/*Main Page*/
body{
    background-color: black;
}

#logo{
    color: white;
    text-align: center;
}

#startBtn{
    border: none;
    padding: 20px 40px;
    font-size: 17px;
    background-color: #f7633e;
    color: white;
    border-radius: 50px;
    font-weight: 800;
    transition: 300ms ease-out;
    align-items: center;
}

#main-btn{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#startBtn:hover {
    font-size: 22px;
    transition: font-size .2s ease;
    transition: 300ms ease-out;
    transition: 300ms ease-in;
    cursor:pointer;
}
/*Start of pop-up*/
#overlay { 
    transition: 200ms ease-in;
    width:100%;
    height:100%;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)); 
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    visibility: hidden;
}

#instructions{
    background-color: rgb(197, 196, 196);
    position: relative;
    width: 30%;
    height: 50%;
    color: black;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px rgb(48, 48, 48);
    transition: 200ms ease-in;
    border-radius: 20px;
    border: solid 5px rgb(66,113,201);
 
}

.strong-overlay {
  animation: fadeIn 3s ease-in;
  opacity: 1;
}

.text h2 {
   text-align: center;
}

.text {
    position: absolute;
    width: 50%;
    margin-left: 30px;
}

#closeBtn { 
    padding: 20px 20px;
    position: absolute;
    color: rgb(197, 196, 196);
    background: linear-gradient(rgb(52,240,106),rgba(0, 0, 0, 0.7));
    border: none;
    transition: 300ms ease-out;
    /* bottom: 50%; doesn't do anything*/
    left: 60%;
    border-radius: 10px;
    font-size: larger;
    /* display: flex; */
    /* flex-wrap: wrap; */
    text-shadow:
    0 0 0.125em hsl(0, 0%, 30% / 0.1), 
    0 0 0.25em rgb(52,240,106);
    box-shadow: 
        inset 0 0 0.5em 0 rgb(52,240,106),
        0 0 0.5em 0 rgb(52,240,106);
    
}

#closeBtn:hover {
    text-shadow: none;
    opacity: 60%;
    transition: 300ms ease-out;
    transition: 300ms ease-in;
    cursor: pointer;

}

#closeBtn:active {
    background-color: rgb(52,240,106);
}

.h1-popup {
    font-weight: 100px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.the {

    color: rgb(244,69,229);
}

.creep {
    color: rgb(96,20,228);
}

.morty {
    color: rgb(244,69,229);
}

#instructions li {
    /* list-style: square; */
    padding: 10px;
    padding-bottom: 25px;
    list-style: none;
}

#instructions li:before{
    content: " \25B7";
    color: #f7633e;

}

/*End of pop-up*/
/*Portal Animation*/
.portal{
    animation: spin 150s linear infinite;
    height: 250px;
    border-radius: 100px;
    position: absolute;
    transition: 300ms ease-out;
    text-align: center;
    top: 70%;
    left: 50%;
}

.portal:hover {
    transition: 300ms ease-out;
    transition: 300ms ease-in;
    opacity: 70%;
}

@keyframes spin {
    from {
      transform: rotate( 0deg ); /*starting position*/
    }
    to {
      transform: rotate( -360deg );/*full 360*/
    }
}
  /*End of portal*/
  /*Quiz page*/
#quiz-container {
    background-image: url('./assets/media/bar image.webp');
}

#quiz-list button{
    border: none;
    padding: 10px 20px;
    background-color: #f7633e;
    color: white;
    border-radius: 50px;
    font-weight: 800;
    transition: 300ms ease-out;
    /* display: grid;
    grid-template-columns: repeat(2);
    gap: 10px; */
}

#quiz-list button:hover{
    font-size: 18px;
    transition: font-size .2s ease;
    transition: 300ms ease-out;
    transition: 300ms ease-in;
    cursor:pointer;
}

#quiz-list{
    margin: 20px 0;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

#quiz-container{
    /* border: solid green; */
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 45%;

    visibility: hidden;
    /* z-index: -1; */

}
#question-container {
      /* border: solid green; */
    color: white;
    position: inline;
}


/*Try key frames again for the fade effects*/ 
.fadeinanimated {
    animation: fadeIn 10s ease-in-out;
}

.fadeOut {

    animation: fadeOut 7s ease-in-out;
}
body {
    animation: fadeOut 3s ease-in-out;
}
@keyframes fadeOut{

    animation: fadeIn 7s ease-in-out;
}

body {
    animation: fadeIn 3s ease-in-out;
}

#background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -5;
}

#logo {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
}

#question-count {
    visibility: hidden;
}

.BlackCoverChange {
    transition-delay: 2s;
    animation: fadeIn 500ms forwards;
}


@keyframes fadeIn {

    0% { opacity: 0; }
    100% { opacity: 1; }
}


@keyframes fadeCard {

    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

@media only screen and (max-height: 900px) {
    #closeBtn{
        bottom: 30%
    }
}

@media only screen and (max-height: 1050px) {
    #logo{
        position: static;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: -100px;
    }
    #closeBtn{
        bottom: 35%
    }
}

@media only screen and (max-width: 2505px) {
    .closeBtn{
        position: static;
        display: flex;
        flex-wrap: nowrap;
    }
    .text{
        font-size: 15px;
    }
}

@media only screen and (max-width: 2250px) {
    .text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1920px), only screen and (max-width: 2250px), only screen and (max-width:2500px) {
    #logo   {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    /* .closeBtn   {
        padding: 20px 20px;
        position: static;
        display: flex;
        flex-wrap: nowrap;
    } */

    #instructions {
        width: 30%;
        height: 65%;
        color: black;
        top: 45%;
        left: 50%;

    }

}

@media only screen and (max-width: 1040px) {

    #logo {
        position: static;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #instructions {
        width: 30%;
        height: 65%;
        color: black;
        top: 45%;
        left: 50%;

    }
}

@media only screen and (max-width: 1440px){
    .h1-popup   {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1050px), only screen and (max-width: 680px)  {
    
    #logo   {
        position: static;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.card {     
    width: 20%;     
    height: 70%;     
    background-color: white;     
    border-radius: 10px;     
    margin: 40px;	     
    display: inline-block; 
}  

.card:hover {     
    box-shadow: 5px 5px 60px rgb(49, 139, 190);	 
}  

.title {     
    text-align: center;     
    text-decoration: underline;     
    text-decoration-color: #f7633e;     
    padding: 15px; 
}  

.card-ul {     
    text-decoration: underline;     
    text-decoration-color: #f7633e; 
}  

#character-card-ul {     
    text-decoration-color: rgb(49, 139, 190);
}  

#character-name {      
    text-decoration-color: rgb(49, 139, 190);
}  

ul {     
    list-style: none; 
}  

.card-image img {     
    width: 100%;     
    border-radius: 10px; 
}  

#cocktail-card:hover {     
    box-shadow: 5px 5px 60px #f7633e;
}

.card {
    width: 20%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    margin: 40px;	
    display: inline-block;
}

.card:hover {
    box-shadow: 5px 5px 60px rgb(49, 139, 190);	
}

.title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #f7633e;
    padding: 15px;
}

.card-text {
    text-decoration: underline;
    text-decoration-color: #f7633e;
}

#character-card-text {
    text-decoration-color: rgb(49, 139, 190);
}

#character-title { 
    text-decoration-color: rgb(49, 139, 190);
}

ul {
    list-style: none;
}

.card-image img{
    width: 100%;
    border-radius: 10px;
}

#cocktail-card:hover{
    box-shadow: 5px 5px 60px #f7633e;

}

/* Return Button from Result Cards */
#returnBtn{ /*Button styles and position*/
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
/* Styling of button */
    border: none;
    padding: 10px 20px;
    background-color: #f7633e;
    color: white;
    border-radius: 50px;
    font-weight: 800;
    transition: 300ms ease-out;
}
#returnBtn:hover{ /*Hover effect for the return button*/
    font-size: 18px;
    transition: font-size .2s ease;
    transition: 300ms ease-out;
    transition: 300ms ease-in;
    cursor:pointer;
}
/*ISSUE HERE, */
@media only screen and (max-width: 680px) {

    #returnBtn{/*moved button into max width*/
    top: 95%;
    display: flex;
    flex-wrap: nowrap;
    }
  }
@media only screen and (max-width: 1050px) {
    h1,h3{
        position: static;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center; /*h1 wouldn't center on a certain size, this fixes that problem*/
    }
    #returnBtn{/*moved button into max width*/
    top: 85%;
    display: flex;
    flex-wrap: nowrap;
    }
    p{
        position: static;
        display: flex;
        flex-wrap: nowrap;
        top: 90%;
    }
  }
  @media only screen and (max-height: 769px) {
    p{
        position: static;
        display: flex;
        flex-wrap: nowrap;
    }
  }
