 *{ /*Universal declarations*/
    padding: 0;
    margin: 0;
    font-family: 'Hanalei Fill', cursive;
    font-family: 'Space Mono', monospace;
 }
:root {
       --brown: #44281d (68,40,29);
       --salmonpink: #e4a788 (228,167,136);
       --yellow: #f0e14a (240,225,74);
       --green: #97ce4c (151,206,76);
       --pink: #e89ac7 (232,154,199);
    }
.blue-colours { /* blueish colours that we can use: "https://www.color-hex.com/color-palette/10375" */  
    color: #318bbe	rgb(49, 139, 190);	
    color: #92c5dd	rgb(146, 197, 221);	
    color: #0f3c80	rgb(15, 60, 128);	
    color: #598fac	rgb(89, 143, 172);	
    color: #80acbb	rgb(128, 172, 187);	
    color: #232137	rgb(35, 33, 55); 
}
/*Main Page*/
body{
    background-color: black;
}
#logo{
    color: white;
    text-align: center;
}
#startBtn{
    border: none;
    padding: 10px 20px;
    background-color: #f7633e;
    color: white;
    border-radius: 50px;
    font-weight: 800;
    transition: 300ms ease-out;
    display: absolute;
}
.main-btn{
    width: 50%;
    position: absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#startBtn:hover{
    font-size: 18px;
    transition: font-size .2s ease;
    transition: 300ms ease-out;
    transition: 300ms ease-in;
    cursor:pointer;
}
/*Start of pop-up*/
#overlay{ 
    transition: 200ms ease-in;
    width:100%;
    height:100%;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)); 
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden; /*CHANGE BACK TO HIDDEN!*/

}
#instructions{
    background-color: rgb(197, 196, 196);
    position: absolute;
    width: 30%;
    height: 40%;
    color: black;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px rgb(48, 48, 48);
    transition: 200ms ease-in;
    border-radius: 20px;
}
.text h2{
   text-align: center;
}
.text{
    position: absolute;
    width: 50%;
    margin-left: 30px;
}
#closeBtn{
    padding: 20px 20px 20px 20px;
    position: absolute;
    color: rgb(197, 196, 196);
    background: linear-gradient(rgba(1, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    border: none;
    transition: 300ms ease-out;
    bottom: 30%;
    left: 520px;
    border-radius: 10px;
    font-size: larger;
}
#closeBtn:hover{
    opacity: 60%;
    transition: 300ms ease-out;
    transition: 300ms ease-in;
}
#closeBtn:active{
    background-color: white;
}
.h1-popup{
    font-weight: 100px;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
}
#instructions li{
    padding: 10px;
    padding-bottom: 50px;
}
/*End of pop-up*/
/*Portal Animation*/
.portal{
    animation: spin 150s linear infinite;
    height: 400px;
    border-radius: 100px;
    position: absolute;
    transition: 300ms ease-out;
}
.portal:hover{
    transition: 300ms ease-out;
    transition: 300ms ease-in;
    opacity: 70%;
}
@keyframes spin {
    from {
      transform: rotate( 0deg ); /*starting position*/
    }
    to {
      transform: rotate( -360deg );/*full 360*/
    }
  }
  /*End of portal*/
  /*Quiz page*/
  #quiz-container{
    background-image: url('./assets/media/bar image.webp');
  }
  #quiz-list button{
    border: none;
    padding: 10px 20px;
    background-color: #f7633e;
    color: white;
    border-radius: 50px;
    font-weight: 800;
    transition: 300ms ease-out;
    /* display: grid;
    grid-template-columns: repeat(2);
    gap: 10px; */
  }
#quiz-list button:hover{
    font-size: 18px;
    transition: font-size .2s ease;
    transition: 300ms ease-out;
    transition: 300ms ease-in;
    cursor:pointer;
}
/* #quiz-container{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    -webkit-filter: blur(5px);
    filter: blur(5px);
} */
#quiz-list{
    margin: 20px 0;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}
<<<<<<< HEAD
.card {     
    width: 20%;     
    height: 70%;     
    background-color: white;     
    border-radius: 10px;     
    margin: 40px;	     
    display: inline-block; 
}  

.card:hover {     
    box-shadow: 5px 5px 60px rgb(49, 139, 190);	 
}  

.title {     
    text-align: center;     
    text-decoration: underline;     
    text-decoration-color: #f7633e;     
    padding: 15px; 
}  

.card-ul {     
    text-decoration: underline;     
    text-decoration-color: #f7633e; 
}  

#character-card-ul {     
    text-decoration-color: rgb(49, 139, 190);
}  

#character-name {      
    text-decoration-color: rgb(49, 139, 190);
}  

ul {     
    list-style: none; 
}  

.card-image img {     
    width: 100%;     
    border-radius: 10px; 
}  

#cocktail-card:hover {     
    box-shadow: 5px 5px 60px #f7633e;
}
=======
#quiz-container{
    /* border: solid green; */
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 45%;
    z-index: -1;
}
#question-container{
      /* border: solid green; */
    color: white;
    position: inline;
}
#overlay2{ /*Adding shade over background image SECTION-1*/
    background: rgba(0,0,0,1);
    width:100%;
    height:100%;
    /* background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)); */
    background-size: cover;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
#QuizImg{
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 98%;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

/*Try key frames again for the fade effects*/ 
.fadeinanimated{
    animation: fadeIn 10s ease-in-out;
}
.fadeOut{
    animation: fadeOut 7s ease-in-out;
}
body {
    animation: fadeOut 3s ease-in-out;
}
@keyframes fadeOut{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.card {
    width: 20%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    margin: 40px;	
    display: inline-block;
}

.card:hover {
    box-shadow: 5px 5px 60px rgb(49, 139, 190);	
}

.title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #f7633e;
    padding: 15px;
}

.card-text {
    text-decoration: underline;
    text-decoration-color: #f7633e;
}

#character-card-text {
    text-decoration-color: rgb(49, 139, 190);
}

#character-title { 
    text-decoration-color: rgb(49, 139, 190);
}

ul {
    list-style: none;
}

.card-image img{
    width: 100%;
    border-radius: 10px;
}

#cocktail-card:hover{
    box-shadow: 5px 5px 60px #f7633e;

}
>>>>>>> 95bae25d6c74856b8869cdbf1f329156a5dec2dc
